@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap');
:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;
--typing-font:3rem;
}
*
{
margin:0;
padding: 0;
}
body
{
font-family: 'Raleway';
}

header{
  background: #a9203a;
  padding: 20px 10px;
}

header h1{
  color: #ffffff;
  width: 80%;
  display: inline-block;
}
header span,header span:after, header span:before{
  height: 2px;
  width: 20px;
  background-color: #ffffff;

}

header span{
  position: absolute;
  top:-15px;
  right:20px;
}

header span::before{
  position: absolute;
  top:10px;
  content: '';
}

header span::after{
  position: absolute;
  bottom:10px;
  content: '';
}

nav{
  display: inline-block;
  position: relative;
  width: 20%;
}

main{
  padding: 15px;
  overflow: hidden;
}

/* Left */
.left{
  width: 40%;
  float: left;
  overflow: hidden;
  border-right: 1px solid darkgray;
  padding-right: 15px;;
}

.left #video-block img{
  width: 100%
}

.left #video-block iframe{
  width: 100%;
  height: 220px;
}

h2{
  color: #a9203a;
  margin-bottom: 10px;
}

input[type="text"]{
  width: 80%;
  background-color: #eaeaea;;
  font-size: 12px;
  line-height: 18px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;

}
input[type="text"]::placeholder{
  color: #292f31;
  font-size: 12px;

}
input[type="text"]:focus{
  border: none;
  outline: none;
}

button{
  width: 100%;
  background-color: #a9203a;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  outline: none;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  text-transform: uppercase;
}
input[type="submit"]{
  background: #a9203a;
  padding: 10px 5px;
  color: #ffffff;
  outline: none;
  border: none;
  margin-left: 5px;
  cursor: pointer;
}

input[type="file"]{
  margin-bottom: 15px;
}

.list-wrapper{
  margin-top: 15px;
}

.list-wrapper li{
  background-color: #cfd8de;
  color: #a9203a;
  padding: 6px 15px 6px 40px; 
  position: relative;
  margin-bottom: 5px;
}
.list-wrapper a{
  color: #a9203a;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
}

.list-wrapper a:hover{
  text-decoration: none;
}

.list-wrapper a:before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.list-wrapper a:after{
  content: '';
  border: solid #788b91;
  border-width:  0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 15px;
  position: absolute;
}

/* Right */
.right{
  width: 56%;
  float: right;
  overflow: hidden;
  padding-left: 15px;;
}

.profile-section{
  width: 48%;
  float: left;
  border-right: 1px solid rgb(201, 200, 200);
  padding-right: 15px;
}

.profile-card{
  background: #cfd8de;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  text-align: center;
  
}

.profile-card .bar{
  background-color: #788b91;
  height: 35px;
  width: 100%;
  display: block;
  position: relative;
}

.profile-card .bar:before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #eaeaea;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
.profile-card .bar:after{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #cfd8de;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.profile-card img{
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 50%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.profile-card h4{
  margin-top: 40px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 15px;
}

.profile-card ul{
  width: 100%;
  text-align: left;
}

.profile-card li{
  background-color: #ffffff;
  padding: 6px ; 
  position: relative;
  margin-bottom: 10px;
  color: #727171;
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

.past-meeting-section{
  width: 46%;
  float: right;
}

.meetings-list{
  height: 290px;
  overflow-y: scroll;
}

.meetings-list li{
  background-color: #cfd8de;
  color: #727171;
  padding: 6px 15px 6px 15px; 
  position: relative;
  margin-bottom: 6px;
  list-style-type: none;
}

.meetings-list li a{
  color: #727171;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
}

.meetings-list a:hover{
  text-decoration: none;
}

.meetings-list a:after{
  content: '';
  border: solid #788b91;
  border-width:  0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  transform: translateY(-50%) rotate(-45deg);
  top: 50%;
  right: 15px;
  position: absolute;
}

.virtual-scroll-section{
  float: left;
  width: 100%;
  position: relative;
}

.virtual-scroll-section h2{
  margin: 10px 0
}

.virtual-scroll-section textarea{
  background-color: #f3f3f3;
  color: #727171;
  min-height: 120px;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
}

.virtual-scroll-section button{
  position: absolute;
  width: 140px;
  bottom: 15px;
  right: 15px;
  background-color: #727171;
  color: #f3f3f3;
}
